/*
* CUSTOM STYLES FOR LWCLOUD
*/

@font-face{
	font-family:"Trade Gothic LT Std";
	/*src:url("http://www.myfontfree.com/data/541/t/tradegothicltstdextended/TradeGothicLTStd-Extended.otf");*/
	src:url("http://www.biodatasa.com.ar/lwcloud/views/themes/default_theme/fonts/tradegothicltstd-bdcn20-webfont.eot");
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.full-height {
	height: 100%;
}

table{
	border-collapse: collapse;
}

table tr td{
	border: 1px solid black;
	padding: 3px 5px;
}

.h1, h1{
	font-size: 28px!important;
}

.h2, h2{
	font-size: 26px!important;
}

#main{
	width: 100%;
	height: 100%;
}

#content{
	min-height: 95%;
}

.title{
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
}

.display-flex {
    display: flex;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.font-trade{
	font-family:"Trade Gothic LT Std";
}

.light-blue-color{
	color: #1DBBEA;
}

.black-color{
	color: #000;
}

.white-color{
	color: #FFF;
}

.big-font{
	font-size: 24px;
}

.no-margin{
	margin: 0px;
}

.no-padding{
	padding: 0px;
}

.form-control-container{
	margin: 10px 0px;
}

.custom-form-control{
	background: #FFFFFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* Standard syntax */
    border: 1px solid #ECECEC;
}

.table-row{
	display: table;
}

.table-td{
	float: none;
	display: table-cell;
	height: 100%;
}

.word-break{
	word-break: break-all;
}

.background-td{
	background: #FFFFFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* Standard syntax */
    border: 1px solid #ECECEC;
}

@media all and (max-width: 480px) {
	.text-center-xs {
	    text-align: center!important;
	}

	#rol-filters div{
		display: block;
	}

	#buscar-resultados, #categoria-filtros{
		width: 100%;
		display: block;
	}

	#login-form-container{
		align-self: center!important;
		padding-bottom: 45px!important;
	}
}

#rol-filters{
	display: block;
}

@media all and (min-width: 780px) {
	#rol-filters{
		display: flex;
	    align-items: flex-end;
	}


}

/*
*
* ROL - MOL MENU
*
*/

.navbar-default{
	background: none!important;
	border: 0px;
	/*border-bottom: 1px solid #B2B2B2;*/
	border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.item-active{
	background: none!important;
}

.item-active a{
	color: #E0B200!important;
	padding: 0px 10px;
	border-bottom: 1px solid #E0B200;
}

.item-no-active{
	border-bottom: 1px solid #656565;
}


/*
*
* FOOTER
*
*/

#footer-container{
	min-height: 5%;
	display: flex;
	align-items: flex-end;
}

#menu-ul, .collapse, nav.navbar-default .container-fluid{
	padding: 0px;
}

#footer{
	color: #FFFFFF;
	background: #83D0F0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FFFFFF, #83D0F0, #83D0F0, #83D0F0, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #FFFFFF, #83D0F0, #83D0F0, #83D0F0, #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #FFFFFF, #83D0F0, #83D0F0, #83D0F0, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #FFFFFF, #83D0F0, #83D0F0, #83D0F0, #FFFFFF); /* Standard syntax */
}

/*
*
* BACKGROUNDS
*
*/

.background{
	background-color: #fff;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.home-background{
	background-image: url('http://www.biodatasa.com.ar/lwcloud/public/img/background-home.jpg');
	background-color: #fff;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.rol-mol-background{
	background-image: url('http://www.biodatasa.com.ar/lwcloud/public/img/background-rol-mol.jpg');
	background-color: #fff;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}


/*
*
* LOGIN
*
*/

#login-form-container{
	align-self: flex-end;
	padding-bottom: 45px;
}

#logo{
	margin-bottom: 30px;
}

/*
*
* ROL
*
*/

.nav-tabs{
	border: 0px!important;
}

.nav-tabs li a{
	color: #555;
	cursor: pointer;
}

.nav-tabs .active{
	background: #83D0F0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #FFFFFF,  #FFFFFF, #83D0F0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #FFFFFF, #FFFFFF, #83D0F0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF, #83D0F0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #FFFFFF, #FFFFFF, #83D0F0); /* Standard syntax */
}

.nav-tabs .active a{
	background: transparent!important;
	border: 0px!important;
}

#resultado-blue-strip .custom-form-control{
	padding: 1px 10px 1px 1px;
	margin-bottom: 10px;
	width: 150px;
	float: right;
}

.tab-content, #resultado-blue-strip{
	padding: 10px 0px;
	margin-bottom: 5px;
	background: #83D0F0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FFFFFF, #83D0F0, #83D0F0, #83D0F0, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #FFFFFF, #83D0F0, #83D0F0, #83D0F0, #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #FFFFFF, #83D0F0, #83D0F0, #83D0F0, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #FFFFFF, #83D0F0, #83D0F0, #83D0F0, #FFFFFF); /* Standard syntax */
}

.table-header{
	border-top: 2px solid #656565;
	border-bottom: 1px solid #656565;
}

.pagination-button-right{
	color: #B2B2B2;
	background: #FFFFFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* Standard syntax */
    border-left: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    border-right: 0px;
    border-top: 0px;
}

.pagination-button-left{
	color: #B2B2B2;
	background: #FFFFFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #FFFFFF, #FFFFFF, #FFFFFF, #ECECED); /* Standard syntax */
    border-right: 1px solid #ECECEC;
    border-top: 1px solid #ECECEC;
    border-left: 0px;
    border-bottom: 0px;
}

.resultado{
	border-bottom: 1px solid #656565;
}
.resultado-container{
	display: flex;
	align-items: center;
	margin-bottom: 3px;
}
.contenido-resultado{
	display: flex;
}
.determinacion{
	padding: 20px 0;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 0;
	padding-right: 0;
}

/*
*
* MOL
*
*/

#determinaciones-list{
	background: #fff;
	min-height: 200px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

#determinaciones-result{
	display: none;
}

#mol-options form {
	padding: 10px;
}

.mol-option{
	padding-top: 10px;
	padding-bottom: 10px;
}

.mol-option .custom-form-control{
	border: 1px solid #1DBBEA!important;
}

.mol-label{
	color: #707173;
	text-transform: uppercase;
	font-weight: 200;
}

.datepicker{
	max-width: 150px;
}

/*
*
* ERROR
*
*/

#alert-error{
	padding: 5px 15px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

@media all and (max-width: 560px) {
	.fullwith-mobile{
		margin-bottom: 10px;
		width: 100%;
		max-width: 100%;
	}
}